In [1]:
# Pandas
import pandas as pd

In [2]:
# Define file to load 
weather_csv = "weather_output.csv"

# Read file and store into a Pandas data frame
weather_df = pd.read_csv(weather_csv)

# Print first 10 rows of data frame
weather_df.head(10)

,Unnamed: 0,City,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed
0,0,Falam,22.91,93.68,58.46,98,7,1.21
1,1,Thunder Bay,48.41,-89.26,39.99,48,40,6.93
2,2,Beringovskiy,63.05,179.32,29.66,92,100,3.85
3,3,Aklavik,68.22,-135.01,23.00,92,90,4.70
4,4,Hermanus,-34.42,19.24,57.00,82,80,22.46
5,5,Busselton,-33.64,115.35,46.00,71,100,5.53
6,6,Bredasdorp,-34.53,20.04,55.99,66,33,3.36
7,7,Hervey Bay,-25.30,152.85,78.01,94,15,7.54
8,8,Ponta do Sol,-20.63,-46.00,76.62,65,64,4.29
9,9,Puerto Ayora,-0.74,-90.35,82.40,54,20,17.22

In [3]:
# Remove column "Unnamed 0"
weather_df = weather_df.iloc[:,1:8]

# Print first 10 rows of data frame
weather_df.head(10)

,City,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed
0,Falam,22.91,93.68,58.46,98,7,1.21
1,Thunder Bay,48.41,-89.26,39.99,48,40,6.93
2,Beringovskiy,63.05,179.32,29.66,92,100,3.85
3,Aklavik,68.22,-135.01,23.00,92,90,4.70
4,Hermanus,-34.42,19.24,57.00,82,80,22.46
5,Busselton,-33.64,115.35,46.00,71,100,5.53
6,Bredasdorp,-34.53,20.04,55.99,66,33,3.36
7,Hervey Bay,-25.30,152.85,78.01,94,15,7.54
8,Ponta do Sol,-20.63,-46.00,76.62,65,64,4.29
9,Puerto Ayora,-0.74,-90.35,82.40,54,20,17.22

In [4]:
# Convert and save Pandas data frame to HTML table
weather_df.to_html('weather_output.html')